<!--- CARD W/PAYPAL BUY BUTTON -->

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h3>SOMETHING TO BUY</h3>
                <hr>
                <a href="/pay" class="btn bg-success btn-block" style="color: white;">PAY WITH PAYPAL</a>
            </div>
        </div>
    </div>
</div>